<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.factlink.FactlinkForSafari</string>
       <key>Developer Identifier</key>
       <string>TQV662C567</string>
       <key>CFBundleVersion</key>
       <string>1.3</string>
       <key>CFBundleShortVersionString</key>
       <string>1.3</string>
       <key>https://factlink.com</key>
       <string>https://static.factlink.com/extension/firefox/factlink.safariextz</string>
     </dict>
   </array>
</dict>
</plist>
